<div class="container w-50">
    <h1>Home</h1>
    <p class="justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. At veritatis animi vel modi impedit eum sit obcaecati sunt neque temporibus distinctio debitis, libero est ipsa quae. Qui aspernatur officia adipisci similique voluptatibus odio cum doloremque. Rerum at est possimus sed tempore deserunt laudantium debitis dolorem numquam aut magnam, veritatis ea!</p>
    <button class="btn btn-lg btn-primary" (click)="goToAbout(19, 'Kayke')">go to about</button>
</div>
