<div class="container d-flex flex-column align-items-center mt-5" style="border: 5px solid black; width: 400px;">
    <h1>Calcule a média</h1>
    <label for="ac1">AC1:</label>
    <input style="width: 150px;" type="text" [(ngModel)]="ac1">
  
    <label for="ac2">AC2:</label>
    <input style="width: 150px;" type="text" [(ngModel)]="ac2">
  
    <label for="ag">AG:</label>
    <input style="width: 150px;" type="text" [(ngModel)]="ag">
  
    <label for="af">AF:</label>
    <input style="width: 150px;" type="text" [(ngModel)]="af">
  
    <button (click)="calcularMedia()" style="width: 100px; margin-top: 20px; margin-bottom: 20px;">Calcular</button>
  
    <div *ngIf="resultado !== null">
      <p>Média Final: {{mediaFinal}}</p>
      <p>Status: {{resultado}}</p>
    </div>
  </div>
  

